
.footer {
    margin: 100px auto;
}.footer1 {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
    border-top: 1px solid #D6D8DD;
    border-bottom: 1px solid #D6D8DD;
}
.footer2 {
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
}